<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width">
   <meta name="theme-color" content="#51FC95">
   <link rel="stylesheet" href="styles/tailwind.css">
   <link rel="stylesheet" href="styles/main.css">
   <script src="socket.io/socket.io.js"></script>
   <script src="scripts/digit-tweaked.js"></script>
   <title><%= chat.name %> | Chat Ex</title>
</head>
<body class="Ok">
   <%- include("partials/panel") %>
   <div class="h-[100vh] overflow-auto">
      <% if (chat.settings.type == "public edit" || chat.settings.type == "public view" || chat.members.includes(user.username)) { %>
         <!-- can view - show option to send invite request -->
         <div class="sticky top-0 left-0 right-0 py-2 bg-white border-b-2 border-gray-100">
            <h3 class="m-2 mx-4 text-3xl"><%= chat.name %><span class="activeUsers float-right text-gray-600"></span></span></h3>
         </div>
         <div class="messageBox py-4 px-2">
            <%
            function dateDiff(dateString) {
               let then = new Date(dateString);
               let now = new Date();
               let diffMs = (now - then);
               let diffDays = Math.floor(diffMs / 86400000);
               let diffHrs = Math.floor((diffMs % 86400000) / 3600000);
               let diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
               let months = Math.round(diffDays / 30);
               let years = Math.round(months / 12);

               if (diffDays == 0) {
                  if (diffHrs == 0) { return `(${diffMins} minutes ago)`; }
                  else { return `(${diffHrs} hours ago)`; }
               }
               else if (diffDays < 31) { return `(${diffDays} days ago)`; }
               else if (months < 12) {
                  if (months == 1) return `(about 1 month ago)`;
                  return `(about ${months} months ago)`;
               }
               else {
                  if (years == 1) return `(about 1 year ago)`;
                  return `(about ${years} years ago)`;
               }
            }
            %>
            <% chat.messages.forEach(function(msg) { %>
               <div class="py-2 px-4 my-2 border-t-2 first:border-t-0 border-gray-100">
                  <p class="text-lg"><%= msg.msg %></p>
                  <p>Posted by <%= users.find(x => x.id == msg.user).username %></p>
                  <p class="text-gray-700">On <%= new Date(msg.date).toLocaleString() %> <%= dateDiff(msg.date) %></p>
               </div>
            <% }); %>
         </div>
         <% if (chat.settings.type == "public edit" || chat.members.includes(user.username)) { %>
            <form action="javascript:post()" class="p-2 grid bg-white border-t-2 border-gray-100" style="grid-template-columns: auto 7rem">
               <input class="py-0.5 px-3 text-lg focus:ring-2 ring-theme focus:outline-0 border-2 border-gray-100 rounded-l-full" id="newMSg" type="text">
               <button class="bg-gray-100 rounded-r-full" type="submit">Send!</button>
            </form>
         <% } %>
      <% } else { %>
         <p>You can't access this chat.</p>
      <% } %>
   </div>
</body>
<%- include("partials/menu") %>
<script>
   let username, usercode, chatId;
   username = <%- JSON.stringify(user.username) %>;
   usercode = <%- JSON.stringify(user._id) %>;
   chatId = <%- JSON.stringify(chat.id) %>;
</script>
<script type="text/javascript">
   localStorage.openpages = Date.now();
   const onLocalStorageEvent = function(e) {
      if (e.key == "openpages") { localStorage.page_available = Date.now(); }
      if (e.key == "page_available") {
         document.body.innerHTML = "";
         let toobad = document.createElement("P");
         toobad.textContent = "You're already in another tab";
         document.body.appendChild(toobad);
         document.body.classList.remove("Ok");

      }
   };
   window.addEventListener("storage", onLocalStorageEvent, false);
</script>
<script src="scripts/chat.js"></script>
</html>